*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.image-card {
  padding: 5px;
  border: 1px solid #dddd;
  border-radius: 2px;
}

.image-card .image{
  width: 100%;
  border-radius: 4px;
}
.main{
  text-align: center;
  padding: 8px 0px;
  background-color: rgb(235, 172, 95);
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
  box-sizing: border-box;
  font-size: 1.5rem;
  font-family: monospace;
}

.tags {
  text-align: center;
  padding: 0px 0px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 25px;
  box-sizing: border-box;
}
.tagbutton {
  outline: none;
  width: 100px;
  height: 35px;
  padding: 10px;
  border: none;
  background-color: rgb(201, 162, 115);
  color: rgb(255, 255, 255);
  /* justify-content: center; */
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
}

.tagbutton:hover {
  background-color: rgb(124, 90, 49);
}
